* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(0deg, rgba(4, 14, 13, 0.4), rgba(255, 255, 255, .4));
    background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    position: relative;
    margin-top: 7.5%;
    border: 1px solid black;
    padding: .4rem 1rem;
    border-radius: 1.2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.search input {
    padding: .5rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: none;
}

.search input::placeholder {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
}

.search button {
    border: none;
    background: none;
    font-size: 1.5rem;
}

.container {
    width: 20rem;
    margin-bottom: 2rem;
}

.container .lists .item {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: .25rem;
    margin-top: .25rem;
}

.container .lists .item h4 {
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 3% 0 3% 0;
    overflow: hidden;
    cursor: pointer;
}

.container .lists .item button {
    margin-right: 3%;
    background: none;
    border: none;
    font-size: 1.5rem;
    display: none;
}

.container .lists .item:hover button {
    display: block;
}

.container .lists .item:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .4), .25rem 0 0 green inset;
}

.landing-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hanalei Fill', cursive;
    font-size: 7rem;
    z-index: -1;
}
